[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = https://github.com/RickSchanze/spdlog.git
[submodule "ThirdParty/mimalloc"]
	path = ThirdParty/mimalloc
	url = https://github.com/RickSchanze/mimalloc.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/tracy"]
	path = ThirdParty/tracy
	url = https://github.com/RickSchanze/tracy.git
[submodule "ThirdParty/volk"]
	path = ThirdParty/volk
	url = https://github.com/RickSchanze/volk.git
[submodule "ThirdParty/VulkanMemoryAllocator"]
	path = ThirdParty/VulkanMemoryAllocator
	url = https://github.com/RickSchanze/VulkanMemoryAllocator.git
[submodule "ThirdParty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "ThirdParty/slang"]
	path = ThirdParty/slang
	url = https://github.com/RickSchanze/slang.git
